@media only screen and (max-width: 1200px) {
    .container, .container-md, .container-sm {
        max-width: 940px !important;
    }
    .cart_btn {       
        width: 65%;
    
    }
}

@media only screen and (max-width: 600px) {
    
    table.table_content {
        width: 655px !important;
    }
}


@media only screen and (max-width: 575px) {
    
    table.table_content {
        width: 705px !important;
    }
}
@media (max-width: 767px) {
    .second-drop {
        width: 70px !important;
        background: none !important;
    }
    .second-drop:hover{
        background: none !important;
    }
}
@media (max-width: 991px) {
    .sec-ul-1, .second-offer {
        width: 100% !important;
        display: flex;
        flex-direction: column;
    }
    .first-group {
        width: 100% !important;
      }
    .off-select1{
        width:104px !important;
    }
    .first-inp{
        width:80px !important
    }
    .off-box-new{
        background-color: var(--background-fiftyfive) !important;
      }
      .sec-ul-1 li a{
        color: var(--color-white) !important;
      }
      .second-offer li a{
        color: var(--color-white);
      }
}
@media (max-width: 575px) {
  .third-cat-a img {
      width: 22px;
  }
  .fcolr{
    font-size: var(--font-15) !important;
  }
  .fcolr-a{
    font-size: var(--font-13) !important;
  }
  .ft-icons i{
    font-size: var(--font-14);
  }
}