@media only screen and (max-width: 1200px) {

    .container {
        max-width: 900px !important;
    }
}


@media (max-width: 767px) {
    .second-drop {
        width: 70px !important;
        background: none !important;
    }
}